body {
  margin: 0;

  background:
    radial-gradient(
      circle at 10% 10%,
      rgba(174, 123, 84, 0.08),
      transparent 30%
    ),
    #f5eee8;

  color: #2b1b14;

  font-family: Arial, sans-serif;
}
